/*====================general===============*/
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
}
h1 {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}
/* ====================Header====================*/
.container {
  width: 1128px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid #b95555;
}
.header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-span {
  color: #2e2f42;
}
.logo-txt {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.header-list-item {
}
.header-list-item-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.header-list-item-link:hover {
  color: #404bbf;
}

.header-list-item-link:focus {
  color: #404bbf;
}
.header-adress {
  font-style: normal;
  color: #434455;
}
.header-adress-list {
}
.header-adress-item {
}

.header-adress-item-link {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.header-adress-item-link:hover {
  color: #404bbf;
}
.header-adress-item-link:focus {
  color: #404bbf;
}

/*====================First section =================*/
.hero {
  background-color: #2e2f42;
}
.hero-btn {
  background: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: #fff;
}
.hero-btn:hover {
  background-color: #404bbf;
}
.hero-btn:focus {
  background-color: #404bbf;
}
.hero-container {
  height: 600px;
}
.hero-header {
  max-width: 496px;
}

/*====================Second section =================*/
.studio-list {
}
.studio-container {
}
.team {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.studio-list-item {
  max-width: 264px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.studio-txt {
  margin-top: 8px;
  gap: 8px;
}
/*==================team===============*/
.team-section {
  background-color: #f4f4fd;
}
.team-list {
}
.team-list-item {
  background-color: #fff;
}
.image {
}
.team-desc {
  margin-top: 8px;
  padding-bottom: 32px;
}

/*====================Third section================*/
.portfolio-list {
}
.portfolio-list-item {
  border: 1px solid, #e7e9fc;
  background: #fff;
}
.team-desc {
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.portfolio-container {
}

/*====================Foooter================*/
.footer {
  background-color: #2e2f42;
}
.footer-txt {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
  margin-top: 16px;
}
.footer-span {
  color: #f4f4fd;
}
.footer-logo-txt {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-container {
  height: 312px;
  padding-top: 101.5px;
}
