/*====================general===============*/
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
}
h1 {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ====================Header====================*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.header-span {
  color: #2e2f42;
}
.logo-txt {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-list-item {
  padding: 24px 0;
}
.header-list-item-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.header-list-item-link:hover {
  color: #404bbf;
}

.header-list-item-link:focus {
  color: #404bbf;
}
.header-adress {
  font-style: normal;
  color: #434455;
}
.header-adress-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.header-adress-item {
}

.header-adress-item-link {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.header-adress-item-link:hover {
  color: #404bbf;
}
.header-adress-item-link:focus {
  color: #404bbf;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: 76px;
}

/*====================First section =================*/
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}
.hero-btn {
  background: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: #fff;
  gap: 10px;
  display: block;
  height: 56px;
  border: none;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.hero-btn:hover {
  background-color: #404bbf;
}
.hero-btn:focus {
  background-color: #404bbf;
}
.hero-container {
  display: block;
}
.hero-header {
  max-width: 496px;
  text-align: center;
  margin-bottom: 48px;
  margin: 0 auto 48px;
}

/*====================Second section =================*/
.studio {
  padding: 120px 0;
}
.studio-list {
  display: flex;
  gap: 24px;
}

.studio-list-item {
  width: calc((100% - 72px) / 4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  max-width: 264px;
}
.studio-txt {
  margin-top: 8px;
  gap: 8px;
  padding-bottom: 8px;
}
.studio-header {
  margin-bottom: 8px;
}
/*==================team===============*/
.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-list-item {
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  margin-top: 72px;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-names {
  margin-top: 32px;
  text-align: center;
  margin-bottom: 8px;
}
.team-desc {
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-top: 8px;
  padding-bottom: 32px;
  text-align: center;
}
.team-container {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  padding: 32px 0;
}

/*====================Third section================*/
.portfolio {
  padding: 120px 0 120px 0;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  background: #fff;
  margin: 32px 8px 0 8px;
  border: 1px solid #e7e9fc;
  width: calc((100% - 48px) / 3);
}
.portfolio-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-desc {
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-top: 8px;
  padding-bottom: 32px;
  padding-left: 16px;
}
.portfolio-names {
  margin-top: 32px;
  padding-left: 16px;
  margin-bottom: 8px;
}
.portfolio-container {
  padding: 32px 16px;
  border-top: none;
  border: 1px solid #e7e9fc;
}

/*====================Foooter================*/
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-txt {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
  margin-top: 16px;
}
.footer-span {
  color: #f4f4fd;
}
.footer-logo-txt {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-container {
}
